:root {
    --cyan:#00FFFF;
    --purple:#8A2BE2;
    --pink:#FF1493;
    --green:#39FF14;
    --yellow:#FFFF33;
    --white:#FFFFFF;
    --ghostwhite:#F8F8FF;

    --blue:#0099FF;
    --black:#000000;
    --dark-purple:#090014;
    --indigo:#4B0082;
}
* {
   box-sizing:border-box;
}

html {
    height:100%;
}

body {
    margin:0;
    min-height:100vh;

    overflow-y:hidden;
    display:flex;
    justify-content:center;
    align-items:flex-start;

    color:var(--black);
    background:radial-gradient(
        ellipse at bottom,
        rgb(54, 5, 54) 5%,
        #090a0f 100%
    );

}



.game-container {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color: var(--white);
}

h1 {

    color:var(--ghostwhite);
    font-size: 25px;
    text-shadow:
    0 0 5px var(--ghostwhite),
    0 0 10px var(--cyan),
    0 0 15px var(--blue);

}

.score-board {
    font-size:30px;
    color:var(--pink);
    margin:10px;

    text-shadow:
    0 0 8px var(--pink),
    0 0 8px var(--blue);
}
.question-progress {
    display:flex;
    justify-content:center;
    gap:12px;
    margin:12px;
}

.light {
    width:20px;
    height:20px;
    border-radius:50%;
    background:black;
    border:2px solid var(--green);
}

.light.active {
    background:var(--green);
    box-shadow:

    0 0 10px var(--green),
    0 0 20px var(--green),
    0 0 40px var(--green);
}

.neon-line {
    width:80%;
    max-width:500px;
    height:3px;
    margin:17px auto;
    background:var(--cyan);

    box-shadow:
    0 0 15px var(--cyan),
    0 0 50px var(--purple);
}

.quote-box {
    width:80%;
    margin:20px auto;
    padding:15px;
    text-align:center;
    max-width:500px; 
color: var(--white);

    border:2px solid var(--pink);
    border-radius:15px;

    background:rgba(0,0,0,.7);

    box-shadow:
    0 0 10px var(--pink),
    0 0 25px var(--pink);
}

.trivia-box {
    background:rgba(0,0,0,.7);
    width:80%;
     max-width:500px;
    padding: 15px;
    border-radius:30px;

    text-align:center;

    font-size:20px;
    letter-spacing:5px;

    border:5px solid cyan;

    box-shadow:
     0 0 10px white,
     0 0 25px cyan,
     0 0 50px #00bfff,
     0 0 80px blue;
    animation:glow 2s infinite ease-in-out;
}


@keyframes glow {

    0% {
        box-shadow:
        0 0 10px white,
        0 0 20px cyan,
        0 0 40px blue; 
    }


    50% {
        box-shadow:
        0 0 20px white,
        0 0 40px cyan,
        0 0 80px blue;
    }

    100% {

        box-shadow:
        0 0 10px white,
        0 0 20px cyan,
        0 0 40px blue;
    }
}

button {
    display:block;
    width:100%;
    margin:10px 0;
    padding:12px;

    font-size:18px;

    background:#d5cedd;
    color:rgb(17,26,60);

    border:2px solid cyan;
    border-radius:20px;

    cursor:pointer;

    box-shadow:
    0 0 10px rgb(108,217,217);
}

button:hover {
    background:cyan;
    color:black;

    transform:scale(1.05);
}


.correct {
    background:#ff1493;
    color:white;
    border-color:pink;

    box-shadow:
    0 0 10px pink,
    0 0 25px hotpink,
    0 0 50px #ff1493;
}

.wrong {
    background:#8a2be2;
    color:white;
    border-color:violet;

    box-shadow:
    0 0 10px violet,
    0 0 25px purple,
    0 0 50px #8a2be2;
}

#highScorePage {
    width:80%;
    margin:20px auto;
    background:#111a3c;
    color:cyan;
}

#highScorePage:hover {
    background:cyan;
    color:black;
}

#result {
    font-size:22px;
    font-weight:bold;
}

@keyframes moveStars {
    from {
        transform:translateY(0);
    }

    to {
     transform:translateY(100vh);
    }
}