
:root {
    --cyan:#00FFFF;
    --purple:#8A2BE2;
    --pink:#FF1493;
    --green:#39FF14;
    --yellow:#FFFF33;
    --white:#FFFFFF;

    --black:#000000;
    --dark-purple:#090014;
    --indigo:#4B0082;
}

* {
   box-sizing:border-box;
}

html {
    height:100%;
}

body {
    margin:0;
    min-height:100vh;
    overflow:hidden;
    font-family:Arial, sans-serif;
    text-align:center;
    position:relative;

    background:
    radial-gradient(
    ellipse at bottom,
    var(--indigo),
    var(--dark-purple) 50%,
    var(--black)
  );
}

#space {
    position:absolute;
    inset:0;
    overflow:hidden;
    pointer-events:none;
    z-index:0;
}

.star {
    position:absolute;
    background:var(--white);
    border-radius:50%;
box-shadow:
    0 0 8px var(--white),
    0 0 15px var(--green),
    0 0 30px var(--green);

    animation:
    moveStars 200s linear infinite;
}

@keyframes moveStars {
    from {
        transform:translateY(0);
    }

    to {
        transform:translateY(-2000px);
    }
}

.arcade-screen {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:78px;
    padding:60px;
    position:relative;
    z-index:1;
}

h1 {
    margin:0;
    font-size:
    clamp(3rem, 8vw, 4rem);
   

    background:
     linear-gradient(
       90deg,
       var(--cyan),
       var(--purple),
       var(--pink)
    );

    -webkit-background-clip:text;
    background-clip:text;
    color:var(--white);

    text-shadow:
        0 0 30px var(--white),
        0 0 20px var(--pink),
        0 0 30px var(--purple);
}

#game-container {
   width:100%;
   max-width:380px;
   padding:50px;
   border:15px solid var(--cyan);
   border-radius:20px;

    background:
   var(--dark-purple);

display: flex;
    flex-direction: column;
    gap: 20px;

    box-shadow:
    0 0 10px var(--cyan),
    0 0 25px var(--purple),
    inset 0 0 40px var(--purple);
}
.codequestarcade {
     
      font-size:
    clamp(1.5rem,5vw,2rem);
    color:var(--white);

    text-shadow:
        0 0 10px var(--white),
        0 0 20px var(--pink),
        0 0 30px var(--purple);
}
/*would like to make the power up move, later*/

.powerup {
    
    color:var(--yellow);
    font-size:1.8rem;

    text-shadow:
    0 0 10px var(--yellow);
}

.powerup-javascript {
    color:var(--cyan);
    font-size:1.4rem;
    
    text-shadow:
    0 0 10px var(--cyan);
}
.blink {
    color:var(--white);
    font-weight:bold;

 font-size: 2rem;
    text-shadow:
        0 0 5px var(--white),
        0 0 15px var(--cyan);

    animation:
        blink-animation 1s infinite;
}

@keyframes blink-animation {

    0% {
        opacity:1;
    }
    50% {
         opacity:0;
    }

    100% {
        opacity:1;
    }
}

.press-start {
    display:flex;
    justify-content:center;
}

.press-start a {
   display:inline-block;
   padding:12px 25px;
   font-size:
    clamp(1rem,4vw,1.5rem);
    font-weight:bold;
    color:var(--white);

    text-decoration:none;
    border-radius:15px;

    background:
    linear-gradient(
       45deg,
        var(--purple),
        var(--pink)
    );

    box-shadow:
        0 0 10px var(--pink),
        0 0 25px var(--purple);
    transition:.3s;
}

.press-start a:hover {
    transform:scale(1.1);
    background:var(--cyan);

    box-shadow:
        0 0 20px var(--cyan),
        0 0 40px var(--pink);
}

@media(max-width:500px){
    #game-container {
        padding:20px;
    }
}